.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2.5rem;
}

.titlerow {
    font-weight: bold;
}

.item {
    width: 15rem;
}

.hscore-container {
    padding-left: 5rem;
}